header {
    display: flex;
    justify-content: center;
    background-color: lightpink;
    /* opacity: 0.5; */
    height: 40px;
    padding-top: 10px;
    /* position: fixed; */
    /* top: 0; */
}

nav {
    display: flex;
    justify-content: center;
    /* margin-top: 5px; */
    border-bottom: 1px solid #ccc;
    height: 40px;
    padding-top: 11px;
    /* background-color: lightgrey; */
    /* color: black; */
    /* height: 20px;    */
    width: 80%;
    margin: 0 auto;

}

header>a {
    color: whitesmoke;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

nav>a {
    color: #adaaaa;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
}

header>a:hover,
nav>a:hover {
    font-weight: 300;
}