.list-item-title {
    margin-bottom: 10px;
    text-align: center;
}

.list-item {
    text-align: center;
    margin-bottom: 5px;
}

.time-set {
    display: flex;
    width: 70%;
    min-width: 615px;
    justify-content: space-between;

}

.time-item {
    margin: 5px 0;
}

.subject-input {
    font-family: system-ui;
    padding: 3px;
    font-size: 16px;
    width: 50%;
}

.topic-list {
    list-style-type: none;
}

.list-row {
    display: flex;
    width: 100%;
}

.list-row div:not(1) {
    text-align: center;
}

.list-item-title:nth-child(1),
.list-item:nth-child(1) {
    width: 30%;
}

.list-item-title:nth-child(2),
.list-item:nth-child(2) {
    width: 15%;
}

.list-item-title:nth-child(3),
.list-item:nth-child(3) {
    width: 35%;
}

.list-item-title:nth-child(4),
.list-item:nth-child(4) {
    width: 15%;
}

.list-item-title:nth-child(5),
.list-item:nth-child(5) {
    width: 25%;
}


.await,
.in-process,
.finish
{
    width: 40%;
    margin: 0 auto;
    padding:2px 5px;
    border-radius:5px;
    
    border:0;
    font-size:12px;
}
.await{
    background:rgb(248, 227, 33);
    color:rgb(194, 133, 1);
}
.in-process{
   
    background:lightskyblue;
    color:blue;
}
   
.finish{
   
    background:lightgreen;
    color:darkgreen;
  
}
.index-li>.main-subject{
    font-size: 1.3rem;
    letter-spacing: 3px;
    width: 30rem;
    height: 2rem;
    /* opacity: 0.7; */
    position: relative;
    text-align: left;
    left: 21%;
    margin:0;
    /* border-left: 7rem solid #393434; */
    background-image: linear-gradient(to right, lightpink, #f5f4f4);
    background-repeat: no-repeat;
   
    border-left: 1% solid lightgrey;
    padding-left: 3rem;
    margin-top: 20px;
    border-radius: 6px;
   
    padding-top: 0.3rem;
    color: revert;
    font-weight: lighter;
    animation-name: main-subject;
    animation-duration: 6s;  
    animation-fill-mode: forwards;
    
  }
  
  @keyframes main-subject {
    0% {background-size: 0% 100%;}
   
    100% {background-size: 100% 100%;}
  }

.vip-login,
.normal{
    position: absolute;

    width: 73px;
    bottom: 0px;
    height: 30px;
    left: 63%;
        

}
.index-li>.normal{
    border:none;
    height: 25px;
    width: 60px;
    background-image: linear-gradient(to right, whitesmoke, #f5b8d8);
    color: #8b5a73;
           
        }
.index-li>.vip-login{
    /* color: white;
    box-shadow: 3px 3px 20px 6px #ccc; */
    
    /* background-color: silver;
    border: 1px solid whitesmoke; */
    background-image: linear-gradient(to right, #fdf3f5, #4ef5ed);
    border: none;
    color: rgb(30, 124, 124);
    width: 80px;
    height: 25px;
    border: 1px solid #fdf3f5;
}
.type-info,
.vip-login,
.normal{
    border-radius: 30px;
    width: 50px;
   
  
    height: 25px;
    font-size: 0.8rem;
    background-color: #fff;
 
}

           
